#map {
       width: 800px;
       height: 520px;
       border: 1px solid #000;
   }
#bodyIndex {
color:black;
background-color:white;
background-image:url(../images/bouee1.jpg);
background-repeat:no-repeat;
background-position:center fixed;
margin:0;
padding:0;
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover;

}
.blanc{
	color:#FEFEE2;
}

input[type="number"] {
   width:70px;
}